.popup__input-container {
  padding: 48px 0 46px 0; /*поправил после первого ревью*/
  box-sizing: border-box;
  border: 0;
}

@media screen and (min-width: 320px) and (max-width: 468px) {
  .popup__input-container {
    padding: 75px 0 45px;
  }
}