.popup__submit {
  width: 100%;
  background-color: #000000;
  border: 0;
  padding: 14px 0 16px 0; /*убрал высоту после первого ревью*/
  border-radius: 2px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif; /*добавил доп шрифты после первого ревью*/
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity .4s ease; /*добавил после первого ревью*/
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 468px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 14px;  /*убрал высоту после первого ревью*/
  }
}