.element__caption {
  object-fit: cover;
  width: 282px;
  height: 282px;
}

.element__caption:hover {
  cursor: pointer;
}

@media screen and (min-width: 428px) and (max-width: 614px) {
  .element__caption {
    width: 390px;
    height: 390px;
  }
}