.elements__item_like {
  width: 22px;
  height: 19px;
  margin: 5px 0 0 21px; /*сверху и слева*/
  background-image: url(../../../../images/like.svg);
  cursor: pointer;
}

.elements__item_like:hover {
  opacity: .5;
  fill: #000;
}

